# ================= FRONTEND =================

/node_modules
/.pnp
.pnp.js
/coverage
/build

.DS_Store

.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ================= BACKEND =================

# Python
venv/
__pycache__/
*.pyc

# Django
*.log
staticfiles/
media/

# Database
db.sqlite3

# Env
.env
.env.*

# Migrations cache
*/migrations/*.pyc
*/migrations/__pycache__/

# VS Code
.vscode/

# JetBrains
.idea/

# OS
Thumbs.db
.AppleDouble
.LSOverride